/* @import url('https://fonts.googleapis.com/css2?family=Coiny&family=Sono:wght@200..800&display=swap'); */

:root {
    --blue: #3b82f6;
    --red: #ef4444;
    --green: #16a34a;
    --yellow: #eab308;
    --white: #fafaf8;
    --dark: #292524;


}

body {
    background-color: var(--dark);
    color: var(--white);
    font-family: "Sono", sans-serif;
    padding: 48px 64px;


}

h1 {
    font-family: "Coiny";
    text-transform: uppercase;
    line-height: 1;

}

.logo {
    display: flex;
    /* align-items: space-between; */
    align-items: center;
    gap: 16px;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.btn {
    font-family: Coiny;
    text-transform: uppercase;
    color: white;
    background-image: linear-gradient(135deg,
            var(--blue), var(--red), var(--green),
            var(--yellow));
    border: none;
    border-radius: 100px;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.5s;

}

.btn:hover {
    transform: scale(110%) rotate(-2deg);
}

.form-fact {
    background-color: #44403c;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;

    border-radius: 16px;
    /* flex-direction: column; */


}

.form-fact input,
.form-fact select {
    background-color: #78716c;
    font-family: inherit;
    border-radius: 100px;
    color: inherit;
    width: 220px;
    padding: 16px;
    border: none;

}

.form-fact input::placeholder {
    color: #a49e9a;
}

/* 
.form-fact input:first-child {
    flex-grow: 1;
} */



.form-fact input:nth-child(1) {
    flex-grow: 1;
}


@media(max-width:1000px) {
    .form-fact {
        flex-direction: column;
    }
}